{% extends 'base1.html' %}

{% comment %} {% block title %}биография {{ poem.author.first_name }} {{ poem.author.last_name }}{% endblock %} {% endcomment %}

{% block author %} 
  {% comment %} <h3><a href="{% url 'posts:author' poem.author.name_url %}">{{ poem.author.first_name }} {{ poem.author.last_name }}</a></h3> {% endcomment %}
  <p>Краткая биография автора: {{ user.text | linebreaksbr }}</p>
{% endblock %}
{% block post_1 %}
<h3>{{ user.bio.first_name }} {{ user.bio.last_name }}</h3>

<p>Родился: {{ user.birthday }}</p>
<p>Перестал творить: {{ user.date_of_death }}</p>
<p>Краткая биография автора: {{ user.text | linebreaksbr }}</p>
  {% comment %} <p>Добавил: <a href="{% url 'posts:name_user' poem.user.username %}">{{ poem.user.first_name }} {{ poem.user.last_name }}</a></p> {% endcomment %}
  <h4>Последнее добавленое произведение автора на сайт:</h4>
  <p>{{ poem.text | linebreaksbr }}</p>
  <a href="{% url 'posts:poem' poem.id %}">Прочитать</a>
{% endblock %}