{% extends 'base2.html' %}

{% block title %}Стихи {{ author.first_name }} {{ author.last_name }}{% endblock %}

{% block author %} <h1>{{ author.first_name }} {{ author.last_name }}</h1> {% endblock %}
{% block post_1 %}
{% for poem in poems %}
  <p>Добавил: <a href="{% url 'posts:name_user' poem.user.username %}">
    {{ poem.user.first_name }} {{ poem.user.last_name }}</a></p>
  <p>{{ poem.text | linebreaksbr | truncatewords:8 }}</p>
  <a href="{% url 'posts:poem' poem.pk %}">Прочитать</a>
  <hr>
{% endfor %} 
{% endblock %}